html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Archivo", sans-serif;
  background-color: hsla(30, 35%, 64%, 0.1);
  color: rgb(99, 99, 99);
}

body {
  .flex {
    display: flex;
  }
  .center {
    align-items: center;
  }
  .sb {
    justify-content: space-between;
  }
}
