@use "../utils/" as u;

main {
  .comment__container {
    .form {
      .comment__form--wrapper {
        max-width: 534px;
        h1 {
          margin-bottom: 1.8rem;
          @include u.breakpoint("400") {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
