main {
  .hero__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    img {
      height: 100%;
    }
  }
}

main {
  .hero__content {
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .description {
      margin-bottom: 1rem;
    }
    .checkmark {
      margin-bottom: 1rem;
      img {
        margin-right: 0.5rem;
      }
    }
    .btn {
      margin-bottom: 2rem;
    }
  }
}

main {
  .wrapper {
    width: 500px;
    margin-top: 7rem;
  }
}
